*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-color: #202020;
}

.calc{
    display: grid;
    grid-template-columns: repeat(4,50px);
}

input{
    grid-column: span 4;
    border:none;
    height:70px;
    text-align: end;
    font-family: monospace;
    outline:none;
    border:5px solid white;
    font-size:30px;
}

button{
    width:50px;
    height:50px;
    background-color: #252525;
    border:none;
    font-size:20px;
    color:#ccc;
    padding:10px;
    font-family: monospace;
}

button:active{
    background-color: green;
}

.name{
    font-size:35px;
    position:absolute;
    color:white;
    font-family: cursive;
    top:600px;
}

